Repository pybind/pybind11, pull requests merged in 2020-10, with the labels that each got.

#2252 Bugfix/Check actual value when deregistering pybind11 instance
  include/pybind11/detail/class.h
  tests/test_class.cpp
  tests/test_class.py
Labels: bug

#2561 2.6.0: Use sorted(glob()) in example setup.py
  docs/compiling.rst
Labels: docs

#2565 docs: known issues
  .github/labeler.yml
  .github/labeler_merged.yml
  .github/workflows/labeler.yml
  docs/changelog.rst
  docs/faq.rst
  docs/limitations.rst
  docs/upgrade.rst
Labels: docs

#2569 Do not use abi::__forced_unwind with libc++, even with gcc instead of clang
  include/pybind11/pybind11.h
Labels: bug

#2582 docs: some final 2.6.0 updates
  README.rst
  docs/changelog.rst
  docs/limitations.rst
Labels: docs

#2590 fix: ipo should be off for debug or relwithdebinfo
  docs/compiling.rst
  tools/pybind11Common.cmake
Labels: docs

#2588 feat: typing support for helpers
  .pre-commit-config.yaml
  MANIFEST.in
  docs/changelog.rst
  docs/limitations.rst
  docs/upgrade.rst
  pybind11/__main__.py
  pybind11/_version.pyi
  pybind11/commands.py
  pybind11/py.typed
  pybind11/setup_helpers.py
  pybind11/setup_helpers.pyi
  setup.cfg
  tests/extra_python_package/test_files.py
  tools/libsize.py
  tools/setup_main.py.in
Labels: docs

#2576 fix: valgrind-detected after-freeing access of PyMethodDef (macOS Python 3.9.0 segfaults)
  .github/workflows/ci.yml
  include/pybind11/pybind11.h
Labels: ci

#2564 fix: test_factory_constructors.py failure triggered by test_register_duplicate_class
  include/pybind11/detail/class.h
  tests/test_class.py
Labels: bug

#2604 fix: much better pdf
  docs/conf.py
  docs/index.rst
Labels: docs

#2606 fix: chapters in PDF again
  README.rst
  docs/conf.py
  docs/index.rst
Labels: docs

#2614 Fix mispelling in basics.rst
  docs/basics.rst
Labels: docs

#2610 ci: add more jobs
  .github/workflows/ci.yml
Labels: ci

#2628 ci: test on NumPy + Python 3.9
  .github/workflows/labeler.yml
  tests/requirements.txt
Labels: ci
