Repository pybind/pybind11, pull requests merged in 2020-08, with the labels that each got.

#1682 Disable testing when using BUILD_TESTING
  CMakeLists.txt
Labels: build system issue

#2370 feat: new FindPython support
  .github/workflows/ci.yml
  .github/workflows/configure.yml
  .gitignore
  CMakeLists.txt
  docs/advanced/embedding.rst
  docs/changelog.rst
  docs/compiling.rst
  docs/requirements.txt
  docs/upgrade.rst
  tests/CMakeLists.txt
  tests/test_cmake_build/CMakeLists.txt
  tests/test_cmake_build/installed_embed/CMakeLists.txt
  tests/test_cmake_build/installed_function/CMakeLists.txt
  tests/test_cmake_build/installed_target/CMakeLists.txt
  tests/test_cmake_build/subdirectory_embed/CMakeLists.txt
  tests/test_cmake_build/subdirectory_function/CMakeLists.txt
  tests/test_cmake_build/subdirectory_target/CMakeLists.txt
  tests/test_embed/CMakeLists.txt
  tools/FindCatch.cmake
  tools/FindPythonLibsNew.cmake
  tools/pybind11Common.cmake
  tools/pybind11Config.cmake.in
  tools/pybind11NewTools.cmake
  tools/pybind11Tools.cmake
Labels: build system

#2353 tests: avoid putting build products into source directory
  .github/workflows/ci.yml
  .gitignore
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/conftest.py
  tests/test_embed/CMakeLists.txt
Labels: build system

#2412 fix: PYBIND11_MASTER_PROJECT always ON
  CMakeLists.txt
Labels: bug, build system

#2402 docs: move CONTRIBUTING
  .github/CONTRIBUTING.md
  MANIFEST.in
  README.md
Labels: docs
