Repository pybind/pybind11, pull requests merged in 2022-03, with the labels that each got.

#3694 Improve Python 3.11 support
  include/pybind11/detail/type_caster_base.h
  include/pybind11/pybind11.h
Labels: python dev

#3784 CI: Add MSVC Debug Build
  .github/workflows/ci.yml
Labels: ci

#3779 Docs: No Strip in Debug
  docs/compiling.rst
Labels: docs
